@use "tokens" as t;

.ag-button[hidden] {
  display: none;
}
.ag-button {
  display: inline-flex;
  outline: none;
  font-family: #{t.$bodyFontStack};
  line-height: #{t.$lineHeight};
  cursor: pointer;
  background: #{t.$ctrlFill};
  color: #{t.$ctrlText};
  border: 1px solid #{t.$ctrlBorder};
  border-radius: #{t.$frame-gridType};
}

.ag-button:hover {
  background: #{t.$ctrlFillHover};
}

.ag-button:active {
  background: #{t.$ctrlFillActive};
}

.ag-button:focus-visible {
  box-shadow: 0 2px 4px #{t.$ctrlBorder};
}

.ag-button[data-dangerous] {
  color: #{t.$error};
}

.ag-button:disabled,
.ag-button:disabled:hover {
  opacity: #{t.$disabledOpacity};
  background: #{t.$ctrlFillLo};
  cursor: default;
}

.ag-button[data-variant="flat"] {
  background: transparent;
  border-color: transparent;
}

.ag-button[data-variant="flat"]:active {
  background: #{t.$ctrlFillLo};
}

.ag-button[data-variant="flat"]:hover {
  background: #{t.$ctrlFillHi};
}

.ag-button[data-variant="flat"][data-dangerous] {
  color: #{t.$error};
}

.ag-button[data-variant="flat"]:disabled,
.ag-button[data-variant="flat"]:disabled:hover {
  opacity: #{t.$disabledOpacity};
  background: #{t.$ctrlFillLo};
}

.ag-button[data-variant="primary"] {
  background: #{t.$ctrlFillSolid};
  color: #{t.$onCtrlFillSolid};
  border-color: transparent;
}

.ag-button[data-variant="primary"]:hover {
  background: #{t.$ctrlFillSolidHi};
}

.ag-button[data-variant="primary"]:active {
  background: #{t.$ctrlFillSolidLo};
}

.ag-button[data-variant="primary"][data-dangerous] {
  background: #{t.$error};
  color: #{t.$onError};
}

.ag-button[data-variant="primary"]:disabled,
.ag-button[data-variant="primary"]:disabled:hover {
  opacity: #{t.$disabledOpacity};
  background: #{t.$ctrlFillSolid};
  cursor: default;
}

.ag-button[data-variant="outline"] {
  background: transparent;
}

.ag-button[data-variant="outline"]:hover {
  background: #{t.$ctrlFillHover};
}

.ag-button[data-variant="outline"]:active {
  background: #{t.$ctrlFillActive};
}

.ag-button[data-variant="outline"][data-dangerous] {
  border-color: #{t.$error};
  color: #{t.$error};
}

.ag-button[data-variant="outline"]:disabled,
.ag-button[data-variant="outline"]:disabled:hover {
  opacity: #{t.$disabledOpacity};
}

.ag-button {
  padding: 8px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 300px;
  line-height: normal;
  text-decoration: none;
}
.ag-button__start {
  margin-inline-end: 8px;
}
.ag-button__end {
  margin-inline-start: 8px;
}
.ag-button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
